body {
  background-color: #fff;
  font-size: 13.2px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

button {
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  outline: none;
  border: 0px;
  border-radius: 0px;
}
button:focus {
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

ul {
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

input {
  width: 100%;
  padding: 8px 15px;
}
input:focus {
  outline: none;
  border-color: transparent;
  -webkit-box-shadow: 0px 0px 0px;
          box-shadow: 0px 0px 0px;
  outline: 0px dotted !important;
  outline: 0px auto -webkit-focus-ring-color !important;
}

.login--Bg {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  width: 100%;
  background-size: cover;
  background-position: center bottom;
  background-image: url("images/loginbg.png");
  -ms-flex-line-pack: stretch;
      align-content: stretch;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media only screen and (max-width: 767px) {
  .login--Bg {
    background-image: url("images/loginbg_mobile.png");
  }
}
.login--Bg::-webkit-scrollbar {
  width: 0px;
}
.login__area {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 50px 0 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
@media only screen and (max-width: 1024px) {
  .login__area {
    padding: 30px 0 0;
  }
}
@media only screen and (max-width: 480px) {
  .login__area {
    padding: 30px 0 0;
  }
}
@media only screen and (max-width: 375px) {
  .login__area {
    padding: 10px 0 0;
  }
}
@media only screen and (max-width: 320px) {
  .login__area {
    font-size: 12px;
  }
}
.login__area p {
  margin-bottom: 0px;
  color: #fff;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 1.2;
  font-size: 21.6px;
}
@media only screen and (max-width: 480px) {
  .login__area p {
    margin-bottom: 0px;
    line-height: 1;
  }
}
@media only screen and (max-width: 767px) {
  .login__top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 767px) {
  .login__top p {
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .login__top p {
    font-size: 15.6px;
  }
}
.login--logo img {
  margin-bottom: 10px;
}
@media only screen and (max-width: 767px) {
  .login--logo img {
    max-width: 250px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 480px) {
  .login--logo img {
    max-width: 200px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 320px) {
  .login--logo img {
    max-width: 150px;
  }
}
.login--logo p {
  margin-bottom: 0px;
  color: #fff;
  font-size: 21.6px;
}
@media only screen and (max-width: 991px) {
  .login--logo p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 480px) {
  .login--logo p {
    font-size: 14.4px;
  }
}
.login__box {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login__box p {
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .login__box p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 375px) {
  .login__box {
    padding: 0px 10px;
  }
}
.login__box .nav-pills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 430px;
}
@media only screen and (max-width: 480px) {
  .login__box .nav-pills {
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 414px) {
  .login__box .nav-pills {
    width: 300px;
  }
}
.login__box .nav-pills li {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.login__box .nav-pills li button {
  width: 100%;
}
.login__box .nav-pills li button.nav-link {
  border-radius: 0px;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  height: 60px;
  width: 215px;
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-image: url("images/green_s_btn.png");
}
@media only screen and (max-width: 414px) {
  .login__box .nav-pills li button.nav-link {
    height: 35px;
    width: 150px;
  }
}
.login__box .nav-pills li button.nav-link img {
  max-height: 40px;
}
@media only screen and (max-width: 414px) {
  .login__box .nav-pills li button.nav-link img {
    max-height: 25px;
  }
}
@media only screen and (max-width: 480px) {
  .login__box .nav-pills li button.nav-link {
    padding: 0px;
  }
}
.login__box .nav-pills li button.nav-link.active {
  background-color: transparent;
  background-position: center;
  background-size: cover;
  background-image: url("images/red_s_btn.png");
}
.login__form {
  margin-bottom: 10px;
}
@media only screen and (max-width: 480px) {
  .login__form {
    margin-bottom: 0px;
  }
}
.login__form li input {
  height: 42px;
  border: 0px;
  width: 420px;
  background-size: cover;
  background-color: transparent;
  background-image: url("images/input_bg.png");
  margin: 5px 0;
  color: #242424;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .login__form li input {
    padding: 3px 15px;
    margin: 3px;
  }
}
@media only screen and (max-width: 414px) {
  .login__form li input {
    height: 35px;
    width: 360px;
  }
}
@media only screen and (max-width: 414px) {
  .login__form li input {
    height: 40px;
    width: 300px;
    background-image: url("images/input_bg_s.png");
  }
}
.login__form li input::-webkit-input-placeholder {
  color: #242424;
  font-weight: bold;
}
.login__form li input::-moz-placeholder {
  color: #242424;
  font-weight: bold;
}
.login__form li input:-ms-input-placeholder {
  color: #242424;
  font-weight: bold;
}
.login__form li input::-ms-input-placeholder {
  color: #242424;
  font-weight: bold;
}
.login__form li input::placeholder {
  color: #242424;
  font-weight: bold;
}
.login--btn {
  width: 420px;
  padding: 10px 20px;
  height: 70px;
  background-size: cover;
  background-color: transparent;
  background-image: url("images/green_b_btn.png");
  border-radius: 0px;
  text-shadow: #562216 2px 2px 2px;
  color: #fff;
  font-size: 18px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  text-decoration: none;
  font-weight: bold;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  cursor: pointer;
}
@media only screen and (max-width: 414px) {
  .login--btn {
    width: 300px;
    height: 50px;
  }
}
.login--btn img {
  max-height: 45px;
}
@media only screen and (max-width: 414px) {
  .login--btn img {
    max-height: 30px;
  }
}
@media only screen and (max-width: 480px) {
  .login--btn {
    padding: 5px;
    font-size: 18px;
    margin-bottom: 0px;
  }
}
.login--btn:focus, .login--btn:active {
  background-size: cover;
  background-color: transparent;
  background-image: url("images/red_b_btn.png");
  border-radius: 0px;
  margin-top: 5px;
  outline: none;
}
.login__text {
  padding: 0 10%;
}
@media only screen and (max-width: 480px) {
  .login__text {
    margin-bottom: 5px;
  }
}
.login__text img {
  max-width: 420px;
  margin-bottom: 5px;
}
@media only screen and (max-width: 414px) {
  .login__text img {
    max-width: 360px;
    margin-bottom: 0px;
  }
}
@media only screen and (max-width: 414px) {
  .login__text img {
    max-width: 300px;
  }
}
@media only screen and (max-width: 1024px) {
  .login__text2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .login__text2 img {
    max-width: 100%;
  }
}
@media only screen and (max-width: 414px) {
  .login__text2 {
    padding: 0 5%;
  }
}
.login--point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.login--point img {
  max-height: 45px;
}
@media only screen and (max-width: 414px) {
  .login--point img {
    max-height: 30px;
  }
}
.login--point2 {
  font-size: 33.6px;
  font-weight: bold;
  background: -webkit-gradient(linear, left top, left bottom, from(#fb8d7e), color-stop(50%, #ec6856), color-stop(51%, #c85242), to(#ec6856));
  background: linear-gradient(to bottom, #fb8d7e 0%, #ec6856 50%, #c85242 51%, #ec6856 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media only screen and (max-width: 375px) {
  .login--point2 {
    font-size: 24px;
    margin-bottom: 5px;
  }
}
@media only screen and (max-width: 375px) {
  .login--point2 img {
    max-height: 35px;
  }
}
.login--socer {
  display: none;
}
@media only screen and (max-width: 767px) {
  .login--socer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}
.login--socer img {
  width: 100%;
}